<footer class="topnav">
    <div class="footer-copywrite">
        <div class="container">
            All articles belong to <a href="https://www.npr.org" target="_blank">NPR</a>
        </div>
    </div>
</footer>