<footer class="topnav">
    <div class="footer-copywrite">
        <div class="container">
            All articles belong to <a href="" target="_blank">NPR</a>
            <a class="grey-text text-lighten-4 right" href="/articles">Articles</a>
        </div>
    </div>
</footer>