{{#each articles}}
<div class="row">
  <div class="card col s8">
    <span class="card-title">{{title}}</span>
    <form action="/notes/{{articles._id}}" method="post">
      <h5>Comment on this Article</h5>
      <div class="row">
        <div class="input-field">
          <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
        </div>
        <div class="input field">
          <input id="icon_prefix" type="text" placeholder="Comment" name="comment" class="validate active">
        </div>
        <center><input class="btn add-comment-button topnav" type="Submit" value="submit"></center>
      </div>
  </div>
  </form>
</div>
{{/each}}