<nav>
    <div class="nav-wrapper topnav">
        <a href="/scrape"> New News of the Wired</a>
        <ul class="right" id="nav-mobile">
            <li><a href="https://www.npr.org">NPR</a></li>
            <li><a href="https://martucazpo.github.io/new-portfolio/indexPortfolio.html">My Portfolio</a></li>
        </ul>
    </div>
</nav>