<nav>
    <div class="nav-wrapper topnav">
        <a href="/">News of the Wired</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/articles">News</a></li>
            <li><a href="">My Portfolio</a></li>
        </ul>
    </div>
</nav>