<nav>
    <div class="nav-wrapper topnav">
        <a href="/scrape" id="gary"> New News of the Wired</a>
        <a href="/articles/" id="isolde">Return To Articles</a>
        <ul class="right" id="nav-mobile">
            <li><a href="https://www.npr.org">NPR</a></li>
            <li><a href="https://martucazpo.github.io/new-portfolio/indexPortfolio.html" id="marco">My Portfolio</a></li>
        </ul>
    </div>
</nav>